In [5]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [7]:
for i in range(4,15):
    print(i)

4
5
6
7
8
9
10
11
12
13
14

In [8]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

#list
l1 = [10,"naidus","pavan",66]
print(list)

In [17]:
i1 =[2,5,7 ]
i2 = [88,99,"pavan","naidus",]
print("list are immutables")
print("data type is ist",i1)
print("data type is ist",i2)

list are immutables
data type is ist [2, 5, 7]
data type is ist [88, 99, 'pavan', 'naidus']

In [18]:
print(i2)

[88, 99, 'pavan', 'naidus']

In [38]:
print(i1[1])
print(i1[0])
print(i2[3])
print(i2[0:3])

5
2

IndexError: list index out of range

In [39]:
for i in i2:
    print(i)

pavan
naidus
yallabandi

In [44]:
i1.append("kumar yallabandi")
print(i1)
i1.remove(5)
print(i1)

[2, 5, 7, 'kumar', 'kumar yallabandi', 'kumar yallabandi']
[2, 7, 'kumar', 'kumar yallabandi', 'kumar yallabandi']

In [49]:
tuple= (10,20,30,40)
print(type(tuple))
print(tuple)
tuple[1]

<class 'tuple'>
(10, 20, 30, 40)

20

In [55]:
#Set data types
set = {10,20.15,30+3j,True,"kumar"}
print(set)
set.add("bhargav")
print(set)
set.remove(10)
print(set)

{'kumar', True, 20.15, (30+3j), 10}
{'kumar', True, 20.15, (30+3j), 10, 'bhargav'}
{'kumar', True, 20.15, (30+3j), 'bhargav'}

In [56]:
#frozenset Data Type
s={10,20,30,40}
fs=frozenset(s)
print(type(fs))

for i in fs:print(i)

<class 'frozenset'>
40
10
20
30

In [ ]:
#dictonary Data Type: