In [2]:
#MAP
## map:- for every element in a given sequence apply some functonality and generate new element with required modification

In [7]:

def multi(y):
    return 2*y
multi(5)

10

In [9]:
x= [1,2,4,5]
n = []
for i in x:
    n.append((multi(i)))
n

[2, 4, 8, 10]

In [12]:
(map(multi,n))
list((map(multi,x)))

[2, 4, 8, 10]

In [14]:
l=[2,4,8,12,24]
list(map(lambda x:2*x,l))

[4, 8, 16, 24, 48]

In [27]:
def fahrenheit(T):
    return ((float(9/5)*T)+32)  

def celsius(T):
    return ((T-32)*float(5/9))
fahrenheit(33)
celsius(91.4)

t = [22,4.5,43,35]
ft = []
for i in t:
    ft.append((fahrenheit(i)))
ft

[71.6, 40.1, 109.4, 95.0]

In [28]:
list(map(lambda f: (float(9/5)*f)+32 , t))

[71.6, 40.1, 109.4, 95.0]

In [29]:
list(map(lambda c: (c-32)*float(5/9),t))

[-5.555555555555555,
 -15.277777777777779,
 6.111111111111112,
 1.6666666666666667]

In [34]:
#converting lower case list into upper case list
l = ['durga','pavan','kumar']
ul =[]
for i in l:
    ul.append(i.upper())
ul

['DURGA', 'PAVAN', 'KUMAR']

In [35]:
def convert(n):
    return n.upper()

list(map(convert,l))

['DURGA', 'PAVAN', 'KUMAR']

In [36]:
l=[3,6,8,7,9,11]
list(map(lambda x:x*x, l))

[9, 36, 64, 49, 81, 121]

In [38]:

tuple(map(lambda x:x*x, l))

(9, 36, 64, 49, 81, 121)

In [39]:
set(map(lambda x:x*x, l))

{9, 36, 49, 64, 81, 121}

In [40]:
#tuple seqence
tm=(3,6,8,7,9,11)
list(map(lambda x:x*x, tm))

[9, 36, 64, 49, 81, 121]

In [42]:
tuple(map(lambda x:x*x, tm))

(9, 36, 64, 49, 81, 121)

In [43]:
set(map(lambda x:x*x, tm))

{9, 36, 49, 64, 81, 121}

In [44]:
str(map(lambda x:x*x, tm))

'<map object at 0x000001695E27F730>'

In [45]:
#set Sequence
sm={1,3,5,7,9,11}
list(map(lambda x:x*x, sm))

[1, 9, 25, 49, 81, 121]

In [46]:
tuple(map(lambda x:x*x, sm))

(1, 9, 25, 49, 81, 121)

In [47]:
set(map(lambda x:x*x, sm))

{1, 9, 25, 49, 81, 121}

In [48]:
str(map(lambda x:x*x, sm))

'<map object at 0x000001695E27F820>'

In [49]:
l1=[1,2,3,4,5]
l2=[6,7,8,9,10]
list(map(lambda x,y : x*y, l1, l2))

[6, 14, 24, 36, 50]

In [50]:
#Reduce:- it reduces sequence of elements into single element
 #reduce(function, sequence)
# Note: in reduce lambda function always takes two arguments
def test(m,n):
    return m+n

In [51]:
test(3,4)

7

In [52]:
from functools import *
l=[47,11,42,13]
reduce(test,l)

113

In [56]:
#Using lambda function
l=[47,11,42,13]
reduce(lambda x,y:x+y,l)

113

In [59]:
l=[47,11,42,13,55,56]
reduce(lambda a,b: a if a>b else b, l)

56

In [60]:
#from functools import *
l=[1,2,3,4,5,6,7,8,9]
reduce(lambda x,y:x+y,l)

45

In [61]:
l=[1,2,3,4,5,6,7,8,9]
reduce(lambda x,y:x*y,l)

362880

In [62]:
reduce(lambda x,y:x+y,range(1,101))

5050

In [65]:
#Filter:- filter function can be used to filter values from a given sequence based on some condition
#filter(function,Sequence)

def isEven(x):
    if x%2 == 0:
        return True
    else:
        return False

isEven(36)

True

In [1]:
l=[1,2,3,4,5,6,7,8,9,10]
l1 = list(filter(lambda x:x%2==0,l))
print(l1)

l2 = list(filter(lambda x:x%2!=0,l))
print(l2)


l=[1,2,3,4,5,6,7,8,9,10]
l1 = tuple(filter(lambda x:x%2==0,l))
print(l1)

l2 = set(filter(lambda x:x%2!=0,l))

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]
(2, 4, 6, 8, 10)

In [77]:
def sum(*n):
    total=0
    for i in n:
        total=total+i
    print(total)
sum(2,2,3)

-7

In [83]:
s = range(10)
for i in s:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [5]:
name=(input("enter name:"))
if name.lower() =="robert" :
    print("hi",name,"good morning..")
print("how are you",name,"?")

enter name: RoBerT

hi RoBerT good morning..
how are you RoBerT ?

In [5]:
#Nested Functions
##we can declare a function inside another function such type of functions are called nested functions.

def first():
    print("1.first function started")
    def second():
        print("2.second function started")
    print("3.first function calling inner function")
    second()

In [6]:
first()

1.first function started
3.first function calling inner function
2.second function started

In [10]:
def first():
    print("first function started")
    def second():
        print("second function execution")
    print("first fuction returning inner function")
    return second

f = first()
f()

first function started
first fuction returning inner function
second function execution

In [22]:
s = range(0,10,3)
n=[]
for i in s:
    n.append((i))

n

[0, 3, 6, 9]