In [5]:
#FUNCTIONS
#-->> code reuseabilty
def add(c,d):
    print('aditions of c and d')
    a= c+d
    return a

In [6]:
add(2,3)

aditions of c and d

5

In [7]:
add(44,55)

aditions of c and d

99

In [12]:
def greetings(name):
    print('HI')
    print('welcome', name ,'to python functions')

In [16]:
greetings('pavan')

HI
welcome pavan to python functions

In [23]:
def evenodd(a):
    if a%2== 0 :
         print("{} number is Even..".format(a))
    else :
        print('enterd odd numbr')

In [27]:
evenodd(56)

56 number is Even..

In [28]:
def fact(num):
    result = 1
    while num >= 1 :
        result = result*num
        num = num-1
    return result

In [35]:
def maths(a,b):
    add = a+b
    sub = a-b
    mul = a*b
    return add,sub,mul

In [40]:
re = maths(5,4)
print(type(re))
print(re)
list(re)

<class 'tuple'>
(9, 1, 20)

[9, 1, 20]

In [9]:
#TYPE Arugmets
#position
#keywords
#default
#variable length argumnets
def sum(a,b=28):
    s = a+b
    m = a-b
    return s, m

In [17]:
sum(33)
sum(34

(79, -11)

In [32]:
def vrlen(*e):
    t = 0
    for i in e :
        t = t+i
        print(t)
vrlen(66,4)

66
70

In [1]:
def vrwitharg(a,*n):
    print(a)
    for i in n:
        print(i)
vrwitharg(44,55,66)

44
55
66

In [4]:
vrwitharg(1,8,7)

1
8
7

In [3]:
def varwitargs(*d,name):
    result= 0
    for i in d:
        result = result+i
        print('varlen args with keyword args,')
        print('the sum',result,'by',name)

In [68]:
varwitargs(4,4,4,name='pavan')

varlen args with keyword args,
the sum 4 by pavan
varlen args with keyword args,
the sum 8 by pavan
varlen args with keyword args,
the sum 12 by pavan

In [75]:
###no.of keyeord argmensts to the input it will stord in the form of dic

def displays(**kwds):
    for s,j in kwds.items():
        print(s,'==',j)

In [80]:
displays(name="pavan",city="bvrm",state='andra')
type(displays)

name == pavan
city == bvrm
state == andra

function

In [89]:
def func(arg1,arg2,arg3=3,arg4=4):
    print(arg1,arg2,arg3,arg4)
    
func(1,2)
func(10,20,30,40)
func(50,60,arg3=70)
func(arg4=4,arg1=1,asrg2=3)
#func()                         #TypeError: func() missing 2 required positional arguments: 'arg1' and 'arg2'
#func(arg3=300,arg4=400,30,40)  #SyntaxError: positional argument follows keyword argument
#func(4,5,arg2=6)               #TypeError: func() got multiple values for argument 'arg2'
#func(4,5,arg3=500,arg5=600)    #TypeError: func() got an unexpected keyword argument 'arg5'

1 2 3 4
10 20 30 40
50 60 70 4
1 3 3 4

In [88]:
func(1,2)
func(1,2,arg4=66,arg3=3)

1 2 3 4
1 2 3 66

In [12]:
#type variable

a=100  #global variable

def f1():
    print(a)

def f2():
    a = 10 
    b =49
    print(a,b)

f1()
f2()

100
10 49

In [18]:
g=10

def f1():
    global g
    g=777
    print(g)
def f2():
    print(g)  
f1()
f2()

777
777

In [26]:
a=100 
b = 150 #global

def f1():
    a=777 #local
    print("local variable:",a)
    print("global variable:",globals()['b'])
    
f1()

local variable: 777
global variable: 150

In [83]:
bank = "SBI"
ifsc = "SBIN00005366"
place = "Bhimavaram"
pincode = 534202

def customer1(credit):
    bal = 10000
    global total
    total = bal+credit
    
    
    global branch
    branch = "ADB"
    
    pincode = 534201
    
    print("total amount in account : ",total)
    print(place)
    print(ifsc)
    print("customer pincode : ",pincode)
    print("Bank pincode : ",globals()['pincode'])
    
def customer2():
    print("total : ",globals()['total'])
    print(branch)

In [86]:

customer2()

total :  10500
ADB

In [107]:
#Recursive functions
def wor(n):
    result=1
    while num>=1:
        result = result*n
        n=n-1
    return result
def wrf(n):
    if n == 0:
        re = 1
    else :
        re = n*wrf(n-1)
    return re

In [117]:
wrf(5)

120

In [132]:
#anonymous functions
s = lambda n: n*n
s(5)

sn = lambda a,b: a-b
sn(45,5)

a,b=10,20
print(a) if a>b else print(b)

lf=lambda a,b:a if a>b else b
lf(50,20)

20

50