In [5]:
a=10 
b=20
c = a+b
print(c)
type(c)
print(id(c))
print(id(a))
print(id(b))

30
140731222386376
140731222385736
140731222386056

In [2]:
test= "its my first python practice"
print(test)

its my first python practice

In [3]:
list= [1,3,5,7,9]
print(list)

[1, 3, 5, 7, 9]

In [9]:
print (list[2])

5

In [12]:
list= [1,3,5,7,9]
list2 =[2,4,6,8]
print(list

SyntaxError: invalid syntax. Perhaps you forgot a comma? (4112670354.py, line 3)

In [17]:
'apple' > 'ball'

False

In [9]:
a = "apple"
b = 'ball'
print(b > a)
type(a)

True

str

In [18]:
 s = 'pavan kumar'
print(len(s))
print(s[1])
print(s[1:5])
print(s[0:5])
print(s+s)

11
a
avan
pavan
pavan kumarpavan kumar

In [2]:
a = 22 
b = 33 
a= b
print(a is b)
print(a)
print(id(b))
print(id(a))

True
33
140731439048488
140731439048488

In [26]:
for i in range(10,22):
    print(i)

10
11
12
13
14
15
16
17
18
19
20
21

In [ ]:
#ternary operators

In [27]:
s = 'pavan'
n = 'kumar'
 'k' in n

IndentationError: unexpected indent (1630027522.py, line 3)