In [1]:
s = 'pavan kumar'
print(s)

pavan kumar

In [3]:
#s1 = 'hi how are' you'   #SyntaxError: invalid syntax
s2 = 'hi\'how are you'
print(s2)
s3 = "hi' how are you"
print(s3)
s4 = 'hi" how are you'
print(s4)
#s5 = 'hi "how" are 'you' pawan'   #SyntaxError: invalid syntax
#s6 = "hi "how" are 'you' pawan"   #SyntaxError: invalid syntax
s7 = 'hi \"how\" are \'you\' pavan'
print(s7)
s8 = "hi \"how\" are \'you\' pavan"
print(s8)

hi'how are you
hi' how are you
hi" how are you
hi "how" are 'you' pavan
hi "how" are 'you' pavan

In [5]:
s1 ='pavan'
s2 = 'kumar'
s1=s1+s2
print(id(s1))

2132864366512

In [6]:
s = input("Enter the string:")
i = 0
for x in s:
    print("positive index {} and negative index {} is {}".format(i,i-len(s),x))
    i=i+1

Enter the string: pavan kumar

positive index 0 and negative index -11 is p
positive index 1 and negative index -10 is a
positive index 2 and negative index -9 is v
positive index 3 and negative index -8 is a
positive index 4 and negative index -7 is n
positive index 5 and negative index -6 is
positive index 6 and negative index -5 is k
positive index 7 and negative index -4 is u
positive index 8 and negative index -3 is m
positive index 9 and negative index -2 is a
positive index 10 and negative index -1 is r

In [14]:
s = "hi good morning"
n = len(s) 
i = 0

print("Forward direction")
while i<n:
    print(s[i],end='')
    i=i+1
print()    
print("Backward direction")
i = -1
while i>=-n:
    print(s[i],end='')
    i=i-1

Forward direction
hi good morning
Backward direction
gninrom doog ih

In [15]:
s = "hi good morning"
print("Forward direction")
for i in s[::]:
    print(i, end='')
print()
    
print("Backward direction")
for i in s[::-1]:
    print(i, end='')

Forward direction
hi good morning
Backward direction
gninrom doog ih

In [44]:
s1 = 'pavankumar'
print(s1)
s1[1]
print(type(s1))
s1[1]
print(len(s1))
s1[0:7]
s1[0:5:2]
s1[:]
s1[0:9:2]
s1[:-1]
s1[::-1]
s1[::-2]
s1[:7]
s1[7:]
s1[::]

pavankumar
<class 'str'>
10

'pavankumar'

In [48]:
cs = 'pavankumar'
'p' in cs
'p'not  in cs

False

In [1]:
#s = input("enter the main string:")
s="pavan kumar yallabandi"
#sub = input("enter the sub string:")
sub="pavan"

if sub in s:
    print(sub,"is found in main string")
else:
    print(sub,"is not found in main string")

pavan is found in main string

In [50]:
s1="star"
s2="moon"

if s1==s2:
    print("both are equal")
elif s1<s2:
    print("1st string is less than 2nd")
else:
    print("1st string is greater than 2nd")

1st string is greater than 2nd

In [51]:
#String( rstrip(), lstrip(), strip() )
x="red   "
x.rstrip()

'red'

In [52]:
x="   red"
x.lstrip()

'red'

In [53]:
x="   red   "
x.strip()

'red'

In [68]:
ss="hi pavan kumar yallabandi"
print(ss.find('ku'))
print(ss.find('hemanth'))
print(ss.index('ya'))

9
-1
15

In [9]:
#replace
sn = 'pavanyallabandi'
ns = sn.replace('pavan','durgapavan')
print(sn)
print(id(ns))
print(ns)
print(type(sn))
print(id(sn))

pavanyallabandi
2109870958000
durgapavanyallabandi
<class 'str'>
2109871020016

In [23]:
#spliting of string
sp = 'pavan karthik'
s = sp.split()
print(s)
len(sp)
len(s)

['pavan', 'karthik']

2

In [28]:
d="09 8 77 pavan"
lst = d.split()
print(lst)

for i in lst:
    print(i)

['09', '8', '77', 'pavan']
09
8
77
pavan

In [35]:
#joing of strings
t=("power","star","pawan","kalyan")
s='-'.join(t)
print(s)
for i in s :
    print(i)

power-star-pawan-kalyan
p
o
w
e
r
-
s
t
a
r
-
p
a
w
a
n
-
k
a
l
y
a
n

In [38]:
l = ["India","Andhra", "West Godavari", "bhimavaram"]
s = "-->".join(l)
s

'India-->Andhra-->West Godavari-->bhimavaram'

In [44]:
#Changing case
sn = 'Hi Good moring'

sn.upper()
sn.lower()
sn.swapcase()
sn.title()

'Hi Good Moring'