In [6]:
t = (19,10,'pavan',10,19,True)
print(type(t))
t

<class 'tuple'>

(19, 10, 'pavan', 10, 19, True)

In [11]:
t[2]

'pavan'

In [49]:
t1 = (10,20,30)
t2 = (30,20,82,89)
t1+t2
t1*3
min(t1)
max(t1)
len(t1)

3

In [43]:
t2
sorted(t2)
print(type(t2))
print(id(t2))
print(sorted(t2))
s= print(type(sorted(t2))) 
print(id(s))

<class 'tuple'>
2177399690704
[20, 30, 82, 89]
<class 'list'>
140731443014856

print(min(t1))

In [50]:
t

(19, 10, 'pavan', 10, 19, True)

In [58]:
sorted(ts)

[3, 3, 10, 40, 88]

In [52]:
ts = (10,40,3,3,88,)

In [56]:
ts
sorted(ts, reverse=True)

[88, 40, 10, 3, 3]

In [73]:
# tuple packing and unpacking
a =10
b = 30
c = 55
d = 90
tp = a,b,c,d 
#print(tp)

#unpacking
ta=(10,20,30,40)
a,b,c,d=ta
print(ta)
print("a=",a,"b=",b,"c=",c,"d=",d)

ts
for i in ts :
    print(i)

print(type(ts))

(10, 20, 30, 40)
a= 10 b= 20 c= 30 d= 40
10
40
3
3
88
<class 'tuple'>

In [ ]:
#@Tuple Comprehension: not supported by python because it getting generator object